h1 {
background-image: linear-gradient(110deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(0, 0, 0, 1) 60%);
    background-size: 200% auto;
    color: black;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
}